:root {
  --color-primary: #877AFF;
  --color-secondary: #fff;
  --color-text-input: #747474;
  --full: 100%;
  --font-primary: "Raleway", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
}

.header {
  width: var(--full);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}

.header h1 {
  font-size: 2.4rem;
  font-weight: 300;
  color: var(--color-primary);
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
  }
  .header h1 {
    font-size: 1.8rem;
  }
}

.header img {
  width: 40%;
  max-width: 295px;
  min-width: 180px;
}

.error-message {
  font-family: "Raleway";
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  background-color: #b81d0d;
  color: white;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}

#section {
  width: var(--full);
  min-height: 100vh;
  height: auto;
  background-color: #f6f6f6;
  font-family: var(--font-primary);
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: var(--full);
  margin-top: 8rem;
}

.content-form {
  display: flex;
  align-items: center;
  width: var(--full);
  gap: 1rem;
}

.content-form input {
  width: 400px;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-text-input);
  background-color: #eeeeee;
  border: 1px solid #dcdcdc;
  border-radius: 0.7rem;
  padding: 0.4rem 1rem;
}

.content-form input::placeholder {
  color: #9f9f9f;
}

.content-form input:focus {
  outline: none;
}

.content-form button {
  transition-duration: 0.2s;
  font-family: var(--font-primary);
  font-size: 1rem;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.7rem;
  padding: 0.4rem 5rem;
  cursor: pointer;
}

.content-form button:hover {
  background-color: #7b65bb;
}

@media screen and (max-width: 1000px) {
  .content-form button {
    padding: 0.4rem 3rem;
  }
}

@media screen and (max-width: 600px) {
  .content-form {
    flex-direction: column;
  }

  .content-form input {
    width: 92%;
  }

  .content-form button {
    width: 100%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: white;
  color: #2f384f;
  margin: 15% auto;
  padding: 0.8rem;
  border: 1px solid #888;
  border-radius: 6px;
  min-width: 300px;
  width: 30%;
}

.modal-content .title {
  font-weight: 700;
}

.modal-content p {
  padding: 2rem 0.9rem;
}

.modal-content .obs {
  font-size: .8rem;
  color: #b81d0d;
}

.modal-content .buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: end;
  gap: 1rem;
  width: 100%;
}

.modal-content .buttons #confirm-btn {
  font-family: var(--font-primary);
  padding: 0.6rem 2rem;
  background: #b85d5d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content .buttons #confirm-btn:hover {
  background: #b81d0d;
}

.modal-content .buttons #cancel-btn {
  font-family: var(--font-primary);
  padding: 0.6rem 2rem;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content-list {
  max-height: 400px;
  min-height: 400px;
  max-width: 1000px;
  width: 100%;
  overflow: scroll;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-radius: 0.8rem;
  padding: 1rem;
  margin: 1rem;
}

.content-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.content-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.content-list::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

.content-list li {
  width: 200px;
  list-style: none;
  margin: 0 2rem;
  padding: 1rem 0 0;
}

ul.child-list li.show-children {
  display: none;
}

.messageInitial {
  width: 100%;
  height: 380px;
  font-size: 1.5rem;
  color: #2f384f;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .messageInitial { 
    font-size: 1rem;
  }
}

.child-item {
  border-left: 1px solid #b0b0b0;
  font-family: var(--font-primary);
  color: var(--color-primary);
  display: block;
  white-space: nowrap;
  padding: 1rem;
}

.child-item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background: #b0b0b0;
  border-left: 4px solid #b0b0b0;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.child-item input[type="checkbox"] {
  font-family: var(--font-primary);
  margin: 0 0.5rem 0 0.2rem;
  border: 1px solid blue;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.child-item input[type="text"] {
  padding: 0.27rem 1rem;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  border-radius: 0.4rem;
  color: var(--color-text-input);
  margin: 0 0.4rem;
  outline: none;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.child-item input::placeholder {
  color: #9f9f9f;
}

.child-item .date.show {
  display: inline-block;
}

.child-item .delete-task {
  position: relative;
  background-color: var(--color-primary);
  width: 13px;
  padding: 0.3rem;
  margin: 0 1rem 0 0;
  border: none;
  border-radius: 0.2rem;
  top: 7px;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.child-item .delete-task:hover {
  background-color: #7b65bb;
}

.child-item .add-child {
  position: relative;
  background-color: #2f384f;
  margin: 0 .60rem;
  width: 13px;
  padding: 0.3rem;
  border: none;
  border-radius: 0.2rem;
  top: 6px;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.child-item .add-child:hover {
  background-color: #2f386d;
}

.child-item .text {
  padding-right: 0.80rem;
  color: #2f384f;
  z-index: 1;
  cursor: pointer;
}

.child-item .text:hover {
  color: var(--color-primary);
}

.child-item .date {
  visibility: hidden;
  opacity: 0;
  color: white;
  font-size: 0.7rem;
  font-family: "Poppins";
  position: relative;
  background: var(--color-primary);
  transform: translate(-130%, -120%);
  padding: 0.2rem 1rem;
  border-radius: 10px;
  transition-duration: 0.2s;
  z-index: 0;
}

.child-item .date.show {
  visibility: visible;
  opacity: 1;
}

.child-item .date::before {
  content: "";
  position: absolute;
  left: 70%;
  top: 90%;
  transform: rotate(180deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-color: transparent transparent var(--color-primary) transparent;
}

.child-list .confirm-name-btn {
  font-family: var(--font-primary);
  background-color: #2f384f;
  color: var(--color-secondary);
  border: none;
  border-radius: 0.4rem;
  padding: 0.25rem 2rem;
  margin: 0 .60rem 0 .30rem;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.dropdown-btn {
  margin: 0 .8rem 0 .2rem;
  width: 9px;
  position: relative;
  top: -3px;
  cursor: pointer;
  transform: rotate(0deg);
}

.dropdown-btn.show-children {
  transform: rotate(270deg);
}