:root {
  --color-primary: #877aff;
  --color-secondary: #fff;
  --color-tertiary: #2f384f;
  --color-text-input: #747474;
  --small-measure: 0.9rem;
  --large-measure: 2rem;
  --full: 100%;
  --font-primary: "Raleway", "sans-serif";
  --font-secondary: "Poppins", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
}

#section {
  width: var(--full);
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-center: center;
  background-color: #f6f6f6;
  font-family: var(--font-primary);
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: var(--small-measure) var(--large-measure);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: var(--full);
  margin-top: 8rem;
}

.content-form {
  display: flex;
  align-items: center;
  width: var(--full);
  gap: var(--small-measure);
}

.content-form input {
  width: 400px;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--small-measure);
  color: var(--color-text-input);
  background-color: #eeeeee;
  border: 1px solid #dcdcdc;
  border-radius: 0.4rem;
  padding: 0.4rem var(--small-measure);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.03);
}

.content-form input::placeholder {
  color: #9f9f9f;
}

.content-form input:focus {
  outline: none;
}

.content-form button {
  transition-duration: 0.2s;
  font-family: var(--font-primary);
  font-size: var(--small-measure);
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem 5rem;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.03);
}

.content-form button:hover {
  background-color: #7b65bb;
}

@media screen and (max-width: 1000px) {
  .content-form button {
    padding: 0.4rem 3rem;
  }
}

@media screen and (max-width: 600px) {
  .content-form {
    flex-direction: column;
  }

  .content-form input {
    width: 92%;
  }

  .content-form button {
    width: var(--full);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: var(--full);
  height: var(--full);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: white;
  color: var(--color-tertiary);
  margin: 15% auto;
  padding: 0.8rem;
  border: 1px solid #888;
  border-radius: 6px;
  min-width: 300px;
  width: 30%;
}

.modal-content .title {
  font-weight: 700;
}

.modal-content p {
  padding: var(--large-measure) 0.9rem;
}

.modal-content .obs {
  font-size: 0.8rem;
  color: #b81d0d;
}

.modal-content .buttons {
  margin: var(--small-measure) 0;
  display: flex;
  justify-content: end;
  gap: var(--small-measure);
  width: var(--full);
}

.modal-content .buttons #confirm-btn {
  font-family: var(--font-primary);
  padding: 0.6rem var(--large-measure);
  background: #b85d5d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content .buttons #confirm-btn:hover {
  background: #b81d0d;
}

.modal-content .buttons #cancel-btn {
  font-family: var(--font-primary);
  padding: 0.6rem var(--large-measure);
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content-list {
  max-height: 400px;
  min-height: 400px;
  max-width: var(--full);
  width: var(--full);
  overflow: auto;
  background-color: #edeeed;
  border: 2px solid #e1e1e1;
  border-radius: 0.8rem;
  padding: var(--small-measure);
  margin: var(--small-measure);
  box-shadow: 0 40px 40px #00000010;
}

.content-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.content-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.content-list::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

#loaderList {
  display: none;
  justify-content: center;
  align-items: center;
  height: 380px;
}

#loaderList .loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.content-list li {
  width: 200px;
  list-style: none;
  margin: 0 var(--large-measure);
  padding: var(--small-measure) 0 0;
}

.content-list ul.show-children {
  display: none;
}

.messageInitial {
  width: var(--full);
  height: 380px;
  font-size: 1.5rem;
  color: var(--color-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .messageInitial {
    font-size: var(--small-measure);
  }
}

.child-item {
  border-left: 1px solid #b0b0b0;
  font-family: var(--font-primary);
  color: var(--color-primary);
  display: block;
  white-space: nowrap;
  padding: var(--small-measure);
}

.child-item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background: #b0b0b0;
  border-left: 4px solid #b0b0b0;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.child-item input[type="checkbox"] {
  font-family: var(--font-primary);
  margin: 0 0.5rem 0 0.2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.child-item input[type="text"] {
  padding: 0.27rem var(--small-measure);
  font-family: var(--font-primary);
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  border-radius: 0.4rem;
  color: var(--color-text-input);
  margin: 0 0.4rem;
  outline: none;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.child-item input::placeholder {
  color: #9f9f9f;
}

.child-item .date.show {
  display: inline-block;
}

.child-item .delete-task {
  position: relative;
  background-color: var(--color-primary);
  width: 13px;
  padding: 0.3rem;
  margin: 0 var(--small-measure) 0 0;
  border: none;
  border-radius: 0.2rem;
  top: 7px;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.child-item .delete-task:hover {
  background-color: #7b65bb;
}

.child-item .add-child {
  position: relative;
  background-color: var(--color-tertiary);
  margin: 0 0.6rem;
  width: 13px;
  padding: 0.3rem;
  border: none;
  border-radius: 0.2rem;
  top: 6px;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.child-item .add-child:hover {
  background-color: #2f386d;
}

.child-item .text {
  padding-right: 0.8rem;
  color: var(--color-tertiary);
  z-index: 1;
  cursor: pointer;
}

.child-item .text:hover {
  color: var(--color-primary);
}

.child-item .date {
  visibility: hidden;
  opacity: 0;
  color: var(--color-secondary);
  font-size: 0.7rem;
  font-family: var(--font-secondary);
  background: var(--color-primary);
  padding: 0.2rem var(--small-measure);
  border-radius: 10px;
  transition-duration: 0.2s;
  z-index: 0;
}

.child-item .show {
  visibility: visible;
  opacity: 1;
  position: relative;
  transform: translate(-130%, -120%);
}

.child-item .date::before {
  content: "";
  position: absolute;
  left: 70%;
  top: 90%;
  transform: rotate(180deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-color: transparent transparent var(--color-primary) transparent;
}

.child-list {
  position: relative;
  left: 4px;
}

.child-list .confirm-name-btn {
  font-family: var(--font-primary);
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  border: none;
  border-radius: 0.4rem;
  padding: 0.25rem var(--large-measure);
  margin: 0 0.6rem 0 0.3rem;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.dropdown-btn {
  margin: 0 0.8rem 0 0.2rem;
  width: 9px;
  position: relative;
  top: -3px;
  cursor: pointer;
  transform: rotate(0deg);
  transition-duration: 0.2s;
}

.dropdown-btn.show-children {
  transform: rotate(-90deg);
  transition-duration: 0.2s;
}

.toast {
  position: fixed;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4070f4;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: #EC6666;
  font-size: 20px;
  border-radius: 50%;
}

.check img {
  width: 20px;
  height: 20px
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-family: var(--font-secondary);
  font-size: var(--small-measure) + .10rem;
  font-weight: 400;
  color: #EC6666;
}

.message .text.text-1 {
  font-family: var(--font-secondary);
  font-size: var(--small-measure);
  font-weight: 600;
  color: #333;
}

.toast .close {
  font-family: var(--font-secondary);
  font-size: var(--small-measure);
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
